[Unit]
Description=bingo server systemd.service
After=multi-user.target

[Service]
Type=simple
User=vm-user
ExecStart=./opt/bingo/bingo run_server
TimeoutSec=360

[Install]
WantedBy=multi-user.target
