[Unit]
Description=bingo server systemd.service
After=multi-user.target

[Service]
Type=simple
User=vm-user
ExecStart=/opt/bingo/bingo run_server
TimeoutSec=360
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
